<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Backbone.js Child events</title>
</head>

<body>

    <script src="../../vendor/underscore.js"></script>
    <script src="../../dist/backbone.js"></script>

    <script type="text/template" id="searchbar-template">
        <input placeholder="search" <%= value(model, "text") %>/>
        <button>clear</button>
    </script>

    <script type="text/template" id="list-template">
        <div id='test'><%
            SearchBar({
                className: "top"
            })
        %></div><%

        var models = this.getModels();
        for (var i = 0, n = models.length; i < n; i++) {
            var model = models[i];

            %><div><%= this.getHighlightedName( model ) %></div><%
        }
    %></script>

    <script type="text/javascript">
        var SearchBar = Backbone.View.extend("SearchBar", {
            template: "#searchbar-template",

            model: {
                text: ""
            },

            events: {
                "input input": "onInput",
                "click button": "onClickClear"
            },

            onInput: function(e) {
                this.trigger("input", this.model.get("text"));
            },

            onClickClear: function() {
                this.model.set("text", null);
                this.trigger("input", null);
            }
        });

        var List = Backbone.View.extend("List", {
            template: "#list-template",
            Views: [SearchBar],

            ui: {
                searchBar: "#test SearchBar.top"
            },

            events: {
                "input @ui.searchBar": "onChangeSearchBar"
            },

            onChangeSearchBar: function(view, value) {
                if ( value ) {
                    value = value.toLowerCase().trim();
                }
                this.searchText = value;
                this.render();
            },

            getModels: function() {
                var collection = this.collection,
                    models = collection.models,
                    searchText = this.searchText;

                if ( searchText ) {
                    models = collection.filter(function(model) {
                        var name = model.get("name");
                        return name && name.toLowerCase().indexOf( searchText ) != -1;
                    });
                }

                return models;
            },

            getHighlightedName: function(model) {
                var name = model.escape("name");

                if ( !this.searchText || !name ) {
                    return name;
                }

                var searchText = _.escape(this.searchText),
                    i = name.toLowerCase().indexOf( searchText );

                if ( i == -1 ) {
                    return name;
                }

                return (
                    name.slice(0, i) +
                    "<u>" + name.slice( i, i + searchText.length ) + "</u>" +
                    name.slice( i + searchText.length )
                );
            }
        });

        var list = new List({
            collection: [
                {
                    name: "James"
                },
                {
                    name: "John"
                },
                {
                    name: "Robert"
                },
                {
                    name: "Michael"
                },
                {
                    name: "William"
                },
                {
                    name: "David"
                },
                {
                    name: "Richard"
                },
                {
                    name: "Charles"
                },
                {
                    name: "Joseph"
                },
                {
                    name: "Thomas"
                }
            ]
        });

        document.body.appendChild(list.el);
        list.render();
    </script>

</body>

</html>
