<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
            <title>Backbone.js input-list</title>
    </head>

    <body>

        <script src="../../vendor/underscore.js"></script>
        <script src="../../dist/backbone.js"></script>

        <script type="text/template" id="inputList-template">
            <h1>List of most popular given names in USA</h1>
            <%
                var collection = this.collection;
                for (var i=0, n=collection.length; i<n; i++) {
                    var model = collection.at(i);
                    %>
                    <div>
                        <input <%= value( model, "name" ) %>/>
                        <a href="javascript:void 0" class="remove" data-index="<%= i %>">
                            remove name <%- model.get("name") %>
                        </a>
                    </div>
                    <%
                }
            %>

            <div>
                <input placeholder="enter name" <%= value( "newName" ) %>/>
                <button class="add">add item</button>
            </div>

            <div>Total count: <%= collection.length %></div>
        </script>

        <script type="text/javascript">

            var InputListView = Backbone.View.extend("InputListView", {
                template: "#inputList-template",

                events: {
                    "click .remove": "onClickRemove",
                    "click .add": "onClickAdd"
                },

                model: {
                    newName: ""
                },

                onClickRemove: function(e) {
                    var index = e.target.getAttribute("data-index"),
                        model = this.collection.at( index );

                    this.collection.remove( model );
                },

                onClickAdd: function(e) {
                    var newName = this.model.get("newName").trim();

                    if ( !newName ) {
                        return;
                    }

                    this.collection.add({
                        name: newName
                    });
                    this.model.set({
                        newName: ""
                    });
                }
            });

            var inputListView = new InputListView({
                collection: [
                    {name: "James"},
                    {name: "John"},
                    {name: "Robert"},
                    {name: "Michael"},
                    {name: "William"},
                    {name: "David"},
                    {name: "Richard"},
                    {name: "Charles"},
                    {name: "Joseph"},
                    {name: "Thomas"}
                ]
            });
            document.body.appendChild( inputListView.el );
            inputListView.render();

        </script>

    </body>
</html>
